html {
  font-size: 18px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}


.company .container {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
}

.company .container img {
  height: 1.25rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.company .container span {
  padding: 0.66rem 0;
}

body {
  font-family: Helvetica, sans-serif;
}


.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./resources/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
}

.main-title {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 20rem;
  height: 6.5rem;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 9rem;

}

h1 {
  font-size: 1rem;
}

h4 {
  font-size: 2rem;
  margin-top: 0.25rem;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: firebrick;
  color: white;
  padding: 0.75rem 3rem;
  align-items: center;
}

.products {
  display: flex;
  justify-content: space-between;
  margin: 3rem 2rem 0 2rem;
}

.product {
  width: 30%;
}

.product-image {
  border: 4px solid black;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 9rem;
  padding: 2rem 0;
}

.product-image img {
  max-width: 8rem;
}

.prodspan {
  display: block;
  font-family: Helvetica;
  color: white;
  background-color: black;
  text-align: center;
  padding: 0.5em 0;
}

.footel {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.footbox {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.label {
  background-color: black;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  margin-bottom: .5rem;
}

footer {
  background-color: black;
  color: white;
  padding: 5rem 0;
}
